#main-container{
	background: #f4f4f4;
}

.row{
	margin: 0;
}
button a{
	color:  black;

}
button a:hover{
	color: #b6a25b;
	text-decoration: none;
}

#aside{
		background-color: #b6a25b;
		padding-left: 5px;

}
.list-group-item{
	background: rgba(255,255,255,0.5);
}
.carousel-caption.d-none.d-md-block{
	padding-bottom: 200px;

}
.item h1{
	font-size: 80px;
	text-shadow:5px 5px 5px black ;
}
.item h2{
	font-size: 30px;
	text-shadow:3px 3px 3px black ;
}
p{font-size: 20px;}

#flashcontent{
	width: 10%;
	
}
.list-group{
	padding-left: 10px;
}